* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-and-main: hsl(206, 15%, 18%);
    --primary: hsl(202, 51%, 69%);
    --secondary: hsl(45, 46%, 95%);
    --inactive: hsla(206, 16%, 18%, 0.12);
    --error: hsl(8, 76%, 55%);
    --done: hsla(95, 68%, 63%, 1);
    --section: hsla(203, 17%, 21%);
    --btn-hover: hsl(202, 8%, 27%);
    --nav-height: 104px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

body {
    background-color: var(--bg-and-main);
}

/* ------------ HERO section ------------  */

.content-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.content-wrapper {
    padding: 0 72px;
}

.color-lightblue {
    color: var(--primary);
}

.color-dark {
    color: var(--bg-and-main)
}

.hero-height {
    height: calc(100dvh - var(--nav-height));
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-layout {
    display: flex;
    justify-content: space-between;
    color: var(--secondary);
    height: 100%;
}

.hero-layout-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-layout-left {
    display: flex;
    align-self: flex-end;
    flex: 1;
}

.hero-image {
    object-fit: cover;
    display: block;
}

.hero-image-bg-shape {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    aspect-ratio: 1/1;
    max-height: calc(100dvh - 104px);
}

.hero-image-bg-shape::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./assets/shapes/hero_shape_1_default.svg') no-repeat bottom center;
    background-size: contain;
    z-index: -1;
    transition: transform ease-in 125ms;
}

.hero-image-bg-shape:hover::before {
    transform: rotate(-18deg)
}

.logo-anta,
.hero-h1,
.me-h2 {
    font-family: 'Anta', sans-serif;
}

.hero-h1 {
    font-size: 88px;
    padding: 36px 0;
}

.hero-h2 {
    font-size: 40px;
    font-weight: 400;
}

.logo-main,
.logo-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary);
    font-size: 16px;
}

.logo-hero svg path[transform] {
    transition: transform 125ms ease-in-out;
    transform-origin: center;
}

.logo-hero:hover svg path[transform] {
    transform: scaleX(1.1);
}

.logo-hero svg {
    overflow: visible;
}

.hero-btn-down {
    margin-top: 36px;
}

.hero-btn-down svg .ignore-fill {
    fill: var(--primary);
}

.btn-me-contact:hover svg,
.hero-btn-down:hover svg {
    fill: var(--btn-hover);
}

.hero-social-group {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn-social-hero {
    width: 30px;
    height: 30px;
}

.btn-social-hero[data-icon="email"] {
    background-image: url('./assets/icons/email_blue_standard.svg');
}

.btn-social-hero[data-icon="email"]:hover {
    background-image: url('./assets/icons/email_blue_hover.svg');
}

.btn-social-hero[data-icon="git"] {
    background-image: url('./assets/icons/git_blue_standard.svg');
}

.btn-social-hero[data-icon="git"]:hover {
    background-image: url('./assets/icons/git_blue_hover.svg');
}

.btn-social-hero[data-icon="linkedin"] {
    background-image: url('./assets/icons/linkedin_blue_standard.svg');
}

.btn-social-hero[data-icon="linkedin"]:hover {
    background-image: url('./assets/icons/linkedin_blue_hover.svg');
}


/* HERO section - Navigation */

.nav-section {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 10;
    height: var(--nav-height)
}

.nav-positioning {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-section {
    display: flex;
    gap: 92px;
}

.nav-link-section a {
    font-size: 26px;
    font-weight: 500;
    color: var(--bg-and-main);
}

.nav-link-section a:hover {
    color: var(--secondary)
}

/* ------------ ME + SKILL (+partially PROJECT) section ------------  */

#me,
#skills,
#projects {
    scroll-margin-top: calc(2 * var(--nav-height));
}

.me-section,
.skill-section,
.project-section {
    margin-top: 104px;
}

.me-section,
.skill-section {
    padding: 0 124px;
}

.me-section,
.skill-section,
.project-section {
    display: flex;
    flex-direction: column;
}

.me-h2,
.skill-h2,
.project-h2 {
    font-size: 60px;
    color: var(--primary);
    align-self: center;
}

.me-boxes,
.skill-boxes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
    color: var(--secondary);
}

.me-interactiv {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    width: max(45%, 200px);
}

.btn-me-contact {
    align-self: end;
    margin-top: 24px;
}

.me-text {
    width: 45%;
}

.me-text,
.skill-text-section {
    text-wrap: balance;
    font-size: 18px;
    font-weight: 400;
    flex-wrap: wrap;
}


.skill-icons-section {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 40px;
}

.skill-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: max(30%, 380px);
    aspect-ratio: 1/1;
    position: relative;
}

.skill-text-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./assets/shapes/skill_shape_default_opac0.07.svg') no-repeat bottom center;
    background-size: contain;
    z-index: -1;
    transition: all ease-in 125ms;
}

.skill-text-section:hover::before {
    transform: rotate(72deg);
    background: url('./assets/shapes/skill_shape_default_opac0.2.svg') no-repeat bottom center;
    background-size: contain;
}

.skill-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.skill-icons-60 {
    width: 60px;
    aspect-ratio: 1/1;
}

.skill-icons-32 {
    width: 32px;
    aspect-ratio: 1/1;
}

.skill-learning-icons {
    display: flex;
    gap: 24px;
    padding: 19px 0;
}

.skill-text {
    padding: 0 45px;
}

/* PROJECT section */

.project-tabs {
    padding-top: 80px;
    box-sizing: border-box;
    display: flex;

}

.project-h3 {
    font-size: 30px;
    font-weight: 500;
}

.project-header-tab {
    min-width: 250px;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content-tab,
.project-header-tab:hover {
    color: var(--secondary)
}

.project-content-tab {
    background-color: var(--section);
    padding-top: 16px;
}

.project-content-tab p{
    margin: 16px 0 32px 0;
}

.project-header-tab.active {
    background-color: var(--section);
    border-radius: 30px 30px 0 0;
}

.project-liststyle {
    padding-left: 48px;
}

.project-liststyle li:nth-child(2n+1) {
    list-style-image: url('./assets/shapes/shape_liststyle.svg');

}
.project-liststyle li:nth-child(2n) {
    list-style: none;
}

