* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --bg-and-main: hsl(206, 15%, 18%);
    --primary: hsl(202, 51%, 69%);
    --secondary: hsl(45, 46%, 95%);
    --inactive: hsla(206, 16%, 18%, 0.12);
    --error: hsl(8, 76%, 55%);
    --done: hsla(95, 68%, 63%, 1);
    --section: hsla(203, 17%, 21%);
    --btn-hover: hsl(202, 8%, 27%);
    --nav-height: 104px;
    --footer-height: 214px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: var(--bg-and-main);
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

.content-wrapper {
    max-inline-size: 1920px;
    margin-inline: auto;
    width: 100%;
}

.content-wrapper {
    padding: 0 72px;
}

.color-lightblue {
    color: var(--primary);
}

.color-dark {
    color: var(--bg-and-main)
}

.bounce-page {
    animation: bouncePage 0.3s ease-in-out;
    will-change: transform;
}

@keyframes bouncePage {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(8px);
    }

    66% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

.btn-cta,
.btn-standard {
    border-radius: 30px;
    box-sizing: border-box;
    width: 135px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid var(--primary);
}

.btn-cta {
    background-color: var(--primary);
}

.btn-cta {
    color: var(--bg-and-main);
}

.btn-cta:focus-visible,
.btn-cta:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.btn-standard {
    color: var(--primary);
}

.btn-standard:hover {
    background-color: var(--btn-hover);
}


/* ------------ HERO section ------------  */

.hero-mobile-top {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-and-main);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: var(--nav-height);
}

.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.burger-stripe {
    background-color: var(--secondary);
    height: 2px;
    width: 30px;
}

.hero-height {
    height: calc(100dvh - var(--nav-height));
    position: relative;
}

.hero-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
    height: 100%;
    color: var(--secondary);
}

.hero-layout-left {
    display: flex;
    align-self: flex-end;
    flex: 1;
}

.hero-layout-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image-bg-shape {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
    max-height: calc(100dvh - 104px);
}

.hero-image {
    object-fit: cover;
    display: block;
}

.hero-image-bg-shape::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./assets/shapes/hero_shape_1_default.svg') no-repeat bottom center;
    background-size: contain;
    z-index: -1;
    transition: transform ease-in 125ms;
}



.logo-anta,
.hero-h1,
.me-h2 {
    font-family: 'Anta', sans-serif;
}

.hero-h1 {
    font-size: clamp(44px, 4.5vw, 88px);
    padding: 36px 0;
}

.hero-h2 {
    font-size: clamp(20px, 2vw, 40px);
    font-weight: 400;
}

.logo-main,
.hero-logo,
.hero-logo-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary);
    font-size: 16px;
}

.hero-logo svg path[transform] {
    transition: transform 125ms ease-in-out;
    transform-origin: center;
}

.hero-logo:hover svg path[transform] {
    transform: scaleX(1.1);
}

.hero-logo svg {
    overflow: visible;
}

.hero-btn-down {
    margin-top: 36px;
}

.contact-btn-up svg .ignore-fill,
.hero-btn-down svg .ignore-fill {
    fill: var(--primary);
}

.contact-btn-up:active svg,
.hero-btn-down:active svg,
.contact-btn-up:hover svg,
.hero-btn-down:hover svg {
    fill: var(--btn-hover);
}

.footer-social-group,
.hero-social-group {
    display: flex;
    gap: 16px;
}

.hero-social-group {
    padding-top: 68px;
    flex-direction: column;
}

.btn-social-footer,
.btn-social-hero {
    width: 30px;
    height: 30px;
}

.btn-social-hero[data-icon="email"] {
    background-image: url('./assets/icons/email_blue_standard.svg');
}

.btn-social-hero[data-icon="email"]:hover {
    background-image: url('./assets/icons/email_blue_hover.svg');
}

.btn-social-hero[data-icon="git"] {
    background-image: url('./assets/icons/git_blue_standard.svg');
}

.btn-social-hero[data-icon="git"]:hover {
    background-image: url('./assets/icons/git_blue_hover.svg');
}

.btn-social-hero[data-icon="linkedin"] {
    background-image: url('./assets/icons/linkedin_blue_standard.svg');
}

.btn-social-hero[data-icon="linkedin"]:hover {
    background-image: url('./assets/icons/linkedin_blue_hover.svg');
}


/* ------------ NAV section ------------  */

.nav-section {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 10;
    height: var(--nav-height)
}

.nav-positioning {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-section {
    display: flex;
    gap: 92px;
}

.nav-links {
    font-size: 26px;
    font-weight: 500;
    line-height: 200%;
    width: 100px;
    text-align: center;
    color: var(--bg-and-main);
    position: relative;
}

.nav-links.active {
    color: var(--secondary);
}

.nav-links.active::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./assets/shapes/nav_shape_active.svg') no-repeat center center;
    background-size: contain;
    z-index: -1;
}

.nav-link-section a:hover {
    color: var(--secondary)
}

/* ------------ ME + SKILL (+partially PROJECT + Reference) section ------------  */

#me,
#skills,
#projects,
#contact {
    scroll-margin-top: calc(2 * var(--nav-height));
}

.me-section,
.skill-section,
.project-section,
.contact-section {
    margin-top: 104px;
}

.me-section,
.skill-section {
    padding: 0 124px;
}

.me-section,
.skill-section,
.skill-text-section,
.project-section,
.references-text-container {
    display: flex;
    flex-direction: column;
}

.me-h2,
.skill-h2,
.project-h2,
.contact-h2 {
    font-family: 'Anta', sans-serif;
    font-size: 60px;
    color: var(--primary);
    text-align: center;
}

.me-boxes,
.skill-boxes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
    color: var(--secondary);
    gap: 52px;
}

.me-interactive {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    height: 64px;
}

.btn-me-contact {
    align-self: end;
    margin-top: 24px;
}

.me-text {
    width: 45%;
}

.me-text,
.skill-text-section,
.references-text {
    text-wrap: balance;
    font-size: 18px;
    font-weight: 400;
}

.skill-icons-section {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 40px;
}

.skill-text-section,
.references-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    min-width: 400px;
    flex-shrink: 0;
    position: relative;
}

.skill-text-section {
    height: 400px;
}

.skill-text-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./assets/shapes/skill_shape_default_opac0.07.svg') no-repeat bottom center;
    background-size: contain;
    z-index: -1;
    transition: all ease-in 125ms;
}

.skill-text-section:hover::before {
    transform: rotate(72deg);
    background: url('./assets/shapes/skill_shape_default_opac0.2.svg') no-repeat bottom center;
    background-size: contain;
}

.skill-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.skill-icons-60,
.skill-icons-36,
.skill-icons-32 {
    aspect-ratio: 1/1;
}

.skill-icons-60 {
    width: 60px;
}

.skill-icons-32 {
    width: 32px;
}

.skill-icons-36 {
    width: 36px;
}

.skill-learning-icons {
    display: flex;
    gap: 24px;
    padding: 19px 0;
}

.skill-text {
    padding: 0 45px;
}

/* PROJECT section */

.project-tabs {
    padding-top: 80px;
    box-sizing: border-box;
    display: flex;
}

.project-h3 {
    font-size: 30px;
    font-weight: 500;
}

.project-header-tab {
    min-width: 250px;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-header-tab.active {
    background-color: var(--section);
    border-radius: 30px 30px 0 0;
}

.bg-color-dark {
    background-color: var(--section);
}

.project-content-tab {
    padding-top: 31px;
    color: var(--secondary);
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.project-content-box-one-liststyle {
    list-style-position: outside;
    padding-left: 48px;
    flex-grow: 3
}

.project-content-box-one-liststyle li:nth-child(2n+1) {
    list-style-image: url('./assets/shapes/project_shape_liststyle.svg');
}

.project-content-box-one-liststyle li:nth-child(2n) {
    list-style: none;
}

.project-content-h3 {
    font-size: 28px;
}

.project-content-tab-text {
    margin: 16px 0 40px 0;
    font-size: 18px;
}

.last {
    margin: 16px 0 16px 0;
}

.project-content-box-two-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}

.project-content-technologies {
    margin: 9px 0 16px 0;
}

.project-content-technologies-text {
    padding: 0 0 12px 0;
    font-size: 18px;
    text-align: center;
}

.project-content-technologies-icons {
    display: flex;
    gap: 32px;
}

.coming-soon,
.project-content-image {
    max-width: 450px;
    aspect-ratio: 3/2;
    border-radius: 30px;
}

.coming-soon {
    min-width: 450px;
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 102px;
}

.project-content-showcase-btn {
    display: flex;
    gap: 40px;
    margin: 34px 0 28px 0;
}

.project-content-image-border-business {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.project-content-image-border-game {
    box-shadow: 0 0 10px rgba(183, 97, 39, 0.6);
}

/* REFERENCE Section */

.references-section {
    margin-top: 80px;
    color: var(--secondary);
}

.references-h3 {
    font-size: 32px;
    text-align: center;
}

.references-box {
    display: flex;
    justify-content: center;
    gap: 17px;
    min-height: 456px;
    padding-top: 56px;
}

.references-text-container h4 {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 8px;
}

.references-text {
    padding: 19px 45px;
    font-size: 18px;
}

.references-text-container a {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}


.references-text-container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./assets/shapes/references_shape_default_opac0.07.svg') no-repeat bottom center;
    background-size: contain;
    z-index: -1;
    transition: all ease-in 125ms;
    transform-origin: center;
}

.references-text-container:hover::before {
    transform: rotate(-90deg);
    background: url('./assets/shapes/references_shape_default_opac0.2.svg') no-repeat bottom center;
    background-size: contain;
}

/* CONTACT me Section */

.contact-section {
    max-inline-size: 920px;
    margin-inline: auto;
    color: var(--secondary);
    margin-bottom: 180px;
    position: relative;
}

.contact-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px;
    padding: 80px 0 48px 0;
}

.contact-text,
.contact-mail-phone {
    padding-left: 26px;
}

.contact-mail-phone {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.contact-mail-phone a {
    color: var(--secondary);
}

.contact-mail-phone a:hover {
    color: var(--primary);
}

.form-label {
    font-size: 16px;
    padding: 0 27px;
}

input,
textarea,
select {
    font: inherit;
}

form {
    display: grid;
    gap: 16px;

    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

.form-group {
    display: grid;
    box-sizing: border-box;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--primary)
}

.form-group:hover {
    background-color: var(--btn-hover);
}

textarea,
input {
    background-color: var(--bg-and-main);
    color: var(--secondary);
    padding: 20px 26px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
}

input:not([type="checkbox"]) {
    width: 100%;
}

.form-stretch {
    grid-column: 1 / -1;
}

textarea {
    resize: none;
    overflow: hidden;
    height: 120px;
    width: 100%;
}

.form-button {
    justify-self: end;
}

.form-policy label {
    display: inline-flex;
    align-items: center;
}

.chb-policy {
    visibility: hidden;
    cursor: pointer;
}

.chb-policy+label::before {
    background: url('./assets/icons/checkbox_unchecked_default.svg') no-repeat center center / cover;
    content: '';
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
}

.chb-policy:checked+label::before {
    background: url('./assets/icons/checkbox_checked_default.svg') no-repeat center center / cover;
}

.contact-btn-up {
    position: absolute;
    right: -37px;
    top: 0;
}

/* FOOTER Section */

footer {
    background-color: var(--primary);
    height: 214px;
    display: flex;
    align-items: center;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}

.footer-legal {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--bg-and-main);
}

.btn-social-footer[data-icon="email"] {
    background-image: url('./assets/icons/email_gray.svg');
}

.btn-social-footer[data-icon="email"]:hover {
    background-image: url('./assets/icons/email_white-black.svg');
}

.btn-social-footer[data-icon="git"] {
    background-image: url('./assets/icons/git_gray.svg');
}

.btn-social-footer[data-icon="git"]:hover {
    background-image: url('./assets/icons/git_white-black.svg');
}

.btn-social-footer[data-icon="linkedin"] {
    background-image: url('./assets/icons/linkedin_gray.svg');
}

.btn-social-footer[data-icon="linkedin"]:hover {
    background-image: url('./assets/icons/linkedin_white-black.svg');
}