@media (pointer:fine) and (hover: hover) {

    /* ------------ GENERAL ------------  */
    .btn-cta:hover {
        background-color: var(--secondary);
        border: 1px solid var(--secondary);
    }

    .btn-standard:hover {
        background-color: var(--btn-hover);
    }

    /* ------------ HERO section ------------  */
    .hero-btn-down:active svg,
    .hero-btn-down:hover svg {
        fill: var(--btn-hover);
    }

    .hero-image-shape-container-front:hover::before {
        transform: rotate(-18deg)
    }

    .hero-logo:hover svg path[transform] {
        transform: scaleX(1.1);
    }

    .btn-social-hero[data-icon="email"]:hover {
        background-image: url('../assets/icons/email_blue_hover.svg');
    }

    .btn-social-hero[data-icon="git"]:hover {
        background-image: url('../assets/icons/git_blue_hover.svg');
    }

    .btn-social-hero[data-icon="linkedin"]:hover {
        background-image: url('../assets/icons/linkedin_blue_hover.svg');
    }

    /* ------------ NAV section ------------  */
    .nav-link-section a:hover {
        color: var(--secondary)
    }

    /* ------------ ME / SKILL section ------------  */
    .skill-text-container:hover::before {
        transform: rotate(72deg);
        background: url('../assets/shapes/skill_shape_default_opac0.2.svg') no-repeat bottom center;
        background-size: contain;
    }

    .skill-icons:hover {
        transform: translateY(-8px);
    }

    /* ------------ REFERENCE section ------------  */
    .references-text-container:hover::before {
        transform: rotate(-90deg);
        background: url('../assets/shapes/references_shape_default_opac0.2.svg') no-repeat bottom center;
        background-size: contain;
    }

    /* ------------ CONTACT section ------------  */
    .contact-mail-phone a:hover:first-child::before {
        background: url('../assets/icons/icon_email_hover.svg') no-repeat center center / cover;
    }

    .contact-mail-phone a:hover:last-child::before {
        background: url('../assets/icons/icon_phone_hover.svg') no-repeat center center / cover;
    }

    .contact-mail-phone a:hover {
        color: var(--primary);
    }

    .contact-mail-phone a:hover svg>path {
        stroke: var(--primary);
    }

    .form-group:hover {
        background-color: var(--btn-hover);
    }

    .contact-btn-up:active svg,
    .contact-btn-up:hover svg {
        fill: var(--btn-hover);
    }

    /* ------------ FOOTER section ------------  */
    .footer-legal a:hover {
        color: var(--secondary);
    }

    .btn-social-footer[data-icon="email"]:hover {
        background-image: url('../assets/icons/email_white-black.svg');
    }

    .btn-social-footer[data-icon="git"]:hover {
        background-image: url('../assets/icons/git_white-black.svg');
    }

    .btn-social-footer[data-icon="linkedin"]:hover {
        background-image: url('../assets/icons/linkedin_white-black.svg');
    }
}

@media(max-width:1620px) {

    /* ------------ ME / SKILLS section ------------  */
    .me-section,
    .skill-section {
        padding: 0 64px;
    }
}

@media(max-width:1510px) {

    /* ------------ ME / SKILLS section ------------  */
    .me-section,
    .skill-section {
        padding: 0 32px;
    }
}

@media(max-width:1270px) {

    /* ------------ GENERAL ------------  */
    .content-wrapper {
        padding: 0 36px;
    }

    /* ------------ REFERENCE section ------------  */
    .references-box {
        justify-content: start;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-color: hsl(202, 51%, 69%, 0.07) transparent;

        &::-webkit-scrollbar {
            background-color: transparent;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: hsl(202, 51%, 69%, 0.07);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: hsl(202, 51%, 69%);
        }
    }

    .references-text-container {
        align-items: start;
        padding-left: 72px;
        text-align: start;
    }

    .references-text {
        padding: 19px 45px 19px 0;

    }
}

@media(max-width:1150px) {
    .me-interactive {
        font-size: 24px;
    }
}

@media(max-width:1024px) {

    /* ------------ ME / SKILLS section ------------  */
    .me-section,
    .skill-section {
        padding: 0 0;
    }

    /* ------------ CONTACT section ------------  */
    .contact-btn-up {
        right: unset;
        top: unset;
        bottom: -129px;
        left: 50%;
        transform: translateX(-50%);
    }



}

@media(max-width:960px) {

    /* ------------ GENERAL ------------  */
    .content-wrapper {
        padding: 0 3vw;
    }

    .legal-context {
        padding-left: 0;
        padding-right: 0;
    }

    #me,
    #skills,
    #projects,
    #contact {
        scroll-margin-top: 64px;
    }

    /* ------------ HERO section ------------  */

    .hero-image-shape-container-front {
        -webkit-mask-image: url('../assets/shapes/hero_shape_1_default.svg');
        mask-image: url('../assets/shapes/hero_shape_1_default.svg');
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: bottom center;
        mask-position: bottom center;
    }

    .hero-image-shape-container-front,
    .hero-image-shape-container-back {
        width: 100%;
        height: 100%;
        left: unset;
        right: unset;
        bottom: unset;
    }

    .hero-mobile-top {
        display: flex;
    }

    .hero-height {
        height: unset;
    }

    .flip-card {
        width: 290px;
        height: 290px;
        perspective: 1000px;
    }

    .nav-section,
    .hero-logo,
    .hero-social-group {
        display: none;
    }

    .hero-layout {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .hero-layout-left {
        justify-content: center;
    }

    .hero-image-shape-container-front {
        width: 90vw;
    }

    /* ------------ ME+SKILLS section ------------  */
    .me-boxes,
    .skill-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 32px;
        gap: 32px;
    }

    .me-interactive {
        font-size: 18px;
        width: 100%;
        padding-left: 96px;
    }

    .skill-icons-60 {
        width: 45px;
    }

    .skill-icons-section {
        justify-content: center;
    }

    .skill-mobile-blue {
        color: var(--primary);
    }

    /* ------------ PROJECT section ------------  */
    .project-section>.content-wrapper {
        padding: 0 0;
    }

    .project-content-box-two-showcase {
        align-items: start;
    }

    .project-content-box-two-showcase>.project-content-image {
        align-self: center;
    }

    .project-tabs {
        padding-top: 32px;
    }

    .project-h3 {
        font-size: 18px;
    }

    .project-header-tab {
        min-width: 100px;
        height: 39px;
    }

    .project-header-tab.active {
        border-radius: 16px 16px 0 0;
    }

    .project-content-tab {
        flex-direction: column-reverse;
        padding-top: 24px;
        gap: 24px;
    }

    .project-content-image {
        width: 100%;
    }

    .project-content-technologies-text {
        font-size: 16px;
        padding: 0 0 8 px 0
    }

    .project-content-technologies {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .project-content-technologies-h3-mobile {
        display: block;
        font-size: 24px;
        color: var(--primary);
        padding-bottom: 8px;
    }

    .project-content-technologies-text-mobile,
    .project-content-technologies-duration-mobile {
        display: block;
        font-size: 16px;
    }

    .project-content-technologies-text,
    .project-content-technologies-icons,
    .project-content-showcase-btns,
    .li-items-duration {
        display: none;
    }

    .project-content-h3 {
        font-size: 18px;
        line-height: 30px;
        transform: translateY(-5px);
        color: var(--primary);
        display: inline-flex;
    }

    .project-content-tab-text {
        margin: 8px 0 16px 0;
        font-size: 16px;
    }

    .project-content-box-one-liststyle li:nth-child(2n+1) {
        list-style-position: inside;
    }

    .project-content-box-one-liststyle {
        padding-left: 0px;
    }

    .project-content-showcase-btns-mobile {
        display: flex;
    }

    .bg-color-dark {
        border-radius: 0 30px 30px 30px;
    }

    .coming-soon {
        min-width: unset;
        margin-bottom: unset;
    }

    /* ------------ LEGAL ------------  */
    .legal-btn-back {
        display: block;
    }

}

@media(max-width:720px) {

    /* ------------ GENERAL ------------  */

    .btn-cta,
    .btn-standard {
        height: 43px;
        font-size: 16px;
    }

    .show-when-mobile {
        display: block;
    }

    /* ------------ ME+SKILL section ------------  */

    .btn-me-contact,
    .skill-icons-text {
        display: none;
    }

    .skill-text,
    .skill-icons {
        font-size: 16px;
    }

    .skill-btn-contact {
        padding-top: 40px;
    }

    /* ------------ REFERENCE section ------------  */

    .reference-h2 {
        text-align: left;
        padding-bottom: 8px;
    }

    .references-h3 {
        display: none;
    }

    /* ------------ CONTACT section ------------  */

    .contact-boxes {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-text,
    .contact-mail-phone {
        padding-left: 0px;
        padding-bottom: 16px;
    }

    .contact-boxes {
        padding: 32px 0 32px 0;
    }

    .form-label {
        display: none;
    }

    input::placeholder,
    textarea::placeholder {
        opacity: 1;
    }

    form {
        grid-template-rows: auto auto 200px;
    }

    .textarea-height {
        height: 100%;
    }

    .contact-mail-phone a {
        color: var(--primary);
    }

    .contact-mail-phone a:first-child::before {
        background: url('../assets/icons/icon_email_default_mobile.svg') no-repeat center center / cover;
    }

    .contact-mail-phone a:last-child::before {
        background: url('../assets/icons/icon_phone_default_mobile.svg') no-repeat center center / cover;
    }


    /* ------------ FOOTER section ------------  */

    .footer-section {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .footer-legal {
        order: 3;
        flex-direction: row;
        gap: 8px;
    }

    .footer-section.logo-main {
        order: 1;
    }

    .footer-social-group {
        order: 2;
    }

    .btn-social-footer[data-icon="email"] {
        background-image: url('../assets/icons/email_white-blue_mobile.svg');
    }

    .btn-social-footer[data-icon="git"] {
        background-image: url('../assets/icons/git_white-blue_mobile.svg');
    }

    .btn-social-footer[data-icon="linkedin"] {
        background-image: url('../assets/icons/linkedin_white-blue_mobile.svg');
    }

}

@media(max-width:500px) {

    /* ------------ ME+SKILL section ------------  */
    .me-interactive {
        padding-left: 64px;
    }
}

@media(max-width:460px) {

    /* ------------ ME+SKILL section ------------  */
    .me-interactive {
        padding-left: 32px;
    }

    .skill-text-container {
        width: 100%;
        min-width: unset;
        min-height: unset;
        padding-top: 8px;
    }

    .skill-text-container::before {
        display: none;
    }
}

@media(max-width:420px) {

    /* ------------ ME+SKILL section ------------  */
    .me-interactive {
        padding-left: 16px;
    }
}

@media(max-width:400px) {

    /* ------------ ME+SKILL section ------------  */
    .skill-icons-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
        width: 100%;
        flex-wrap: nowrap;
        flex: none;
    }

    .skill-text {
        padding: 0 0px;
    }

    .references-text-container {
        padding-right: 24px;
    }
}

@media(max-width:370px) {

    /* ------------ HERO section ------------  */
    .hero-h1 {
        font-size: clamp(40px, 4.5vw, 88px);
        padding: 36px 0;
    }

    .hero-h2 {
        font-size: clamp(20px, 2vw, 40px);
    }

    /* ------------ ME+SKILL section ------------  */
    .me-interactive {
        padding-left: 0;
    }

    .me-interactive img {
        height: 40px;
    }

    .reference-h2 {
        font-size: 30px;
    }
}