@media(max-width:1270px) {
    .content-wrapper {
        padding: 0 36px;
    }

    .references-box {
        justify-content: start;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-color: hsl(202, 51%, 69%) transparent;

        &::-webkit-scrollbar {
            background-color: transparent;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: hsl(202, 51%, 69%);
            border-radius: 10px;
        }
    }

    .references-text-container {
        align-items: start;
        padding-left: 72px;
        text-align: start;

    }

    .references-text {
        padding: 19px 45px 19px 0;

    }
}



@media(max-width:1024px) {
    .contact-btn-up {
        right: unset;
        top: unset;
        bottom: -129px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width:720px) {

    /* ------------ GENERAL ------------  */

    .content-wrapper {
        padding: 0 12px;
    }

    /* ------------ HERO section ------------  */

    /* ------------ NAV section ------------  */

    /* ------------ ME section ------------  */

    /* ------------ SKILLS section ------------  */

    /* ------------ PROJECT section ------------  */

    /* ------------ REFERENCE section ------------  */

    /* ------------ CONTACT section ------------  */

    /* ------------ FOOTER section ------------  */

    .footer-section {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .footer-legal {
        order: 3;
        flex-direction: row;
        gap: 32px;
    }

    .footer-section.logo-main {
        order: 1;
    }

    .footer-social-group {
        order: 2;
    }

}